    body{
    background: linear-gradient(300deg, #35155D,#4477CE,#8CABFF);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  
  .icon-square {
    width: 3rem;
    height: 3rem;
    border-radius: 0.75rem;
  }
  
  .profile-img {
    border-radius: 50%;
    height: 100px;
  }
  
  .title1{
    display: flex;
    justify-content: center;
    justify-items: center;
  }
  .title2{
    font-family: 'Pacifico', cursive;
    text-align: center;
  }


  .page-title{
    border-spacing: 20%;
    font-size: larger;
    font-weight: 600;
    font-size: 40px;
    text-decoration: underline;
  }

  .company-title{
    border-top-width:100px;
    background:black;
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    display: flex;
    justify-content: center;
    font-weight: 400;
    font-size: 35px;
    color: aliceblue;
    text-decoration: underline;
  }

  .box-content{
    font-size: 20px;
  }

  .button{
    display: flex;
    justify-content: center;
    align-items: center;
   }

   button{
    height: 50px;
    width: 120px;
    font-size: 20px;
   }
  
  hr{
    border-color:white;
    border-width: 3px;
  }
  .bannerContainer{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  img{
    border: 2px solid white;
  }

  .pagewrap {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    font-size: 100%;
    word-wrap: break-word;
    outline: 0;
    box-sizing: border-box;
    margin: 20px 0;
}

/* styles.css */

.box {
  width: 90%; /* Set the width of the box */
  height: 110px; /* Set the height of the box */
  background-color: white; /* Set the background color of the box */
  border: 2px solid #2980b9; /* Set the border of the box */
  border-radius: 10px; /* Add rounded corners to the box */
  padding: 20px; /* Add padding inside the box */
  text-align: center; /* Center the text inside the box */
  color: black; /* Set the text color inside the box */
  font-size: 18px; /* Set the font size of the text */

}
.box_center{

display: flex;
justify-content: center;
align-items: center;
height: 30vh; /* This makes sure the box is centered vertically */
margin: 0;
}

.loginbtn{
  background-color: #2DC7B6;
  border-radius: 20px;
  width: 100%; 
  padding-left: 0%;
  text-align: center;
}

  /* <div class="button">
    <button type="button" class="btn btn-primary"><a href="./loignpage.html">PLAY!</a></button>
</div> */